.corn-dog-casserole {
    font-size: 24px;
}

.chipped-beef-fondue-recipe {
    font-size: 24px;
}

.egg-drop-soup-recipe {
    font-size: 24px;
}

.egg-drop-soup-ingredients {
    font-size: 23px;
}

.egg-drop-soup-instructions {
    font-size: 23px;
}
